.section {
    padding: 2rem 0 4rem;
    /* border: 1px solid black; */
}
.contact__container{
    row-gap: 3rem;
    /* align-self: center; */
    /* border: 1px solid black; */
    /* justify-content: center; */
    /* align-items: center; */
  }
  .container {
    display: flex;
    max-width: 768px;
    align-self: center;
    /* max-width: 100%; */
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  .grid{
    display: grid;
    gap: 1.5rem;
}
  .contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
  }
  .contact__icon{
    font-size: 2rem;
    color: #db4242;
    margin-right: var(--mb-0-75);
  }
  .button{
    display: inline-block;
    background-color: #db4242;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
  }
  .button:hover{
    background-color: #db4242;
  }
  .button__flex{
    display: inline-flex;
    align-items: center;
  }
  .button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
  }
  .contact__input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
  
  }
  .contact__content{
    background-color: var(--input-color);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.25rem;
  }

  .contact__label{
    font-size: var(--smaller-font-size);
    color: var(--text-color);
 }
 .contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
  }

  .contact__icon{
    font-size: 2rem;
    color: #db4242;
    margin-right: var(--mb-0-75);
  }
  .contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
  }
  .contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
  }


/* For large devices */
@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container{
      padding: 0;
    }
    .home__blob{
      width: 320px;
    }
    .home__social{
      transform: translateX(-6rem);
    }
    .contact__form{
      width: 460px;
    }
    .contact__inputs{
      grid-template-columns: repeat(2, 1fr);
    }
    .skills{
      display: grid;
  
    }
  }
  