@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margin Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  margin: 0;
  padding: 0;
}

.header-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF;
  /* position: fixed; */
}
.header-container
{
  position: fixed;
  width: 100%;
  background-color: #FFF;
}
 li {
  float: left;
  display: inline-flex;
}
li p{
  margin-left: -10px;
  justify-content: center;
  align-items: center;
  display: inline;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover:not(.active) {
  background-color: transparent;
  color: #7E4555;
}

.active {
  color: #7E4555;
}
.home-info{
  background-image: url('../../assets/banners/banner1.jpg');
  /* width: 1473px; */
  height: 600px;
  /* border: 1px solid black; */
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: contain;
  display: flex;
  /* align-self: center; */
}
.banner1-text{
  display: block;
  justify-content: center;
  align-self: center;
  width: 50%;
  padding: 40px;
}
.banner1-text h1{
  font-size: 52px;
  color: #db4242;
}
.banner1-text blockquote{
  color: #020202;
  font-style: italic;
  
}
/* Gallery */
.gallery-title
{
  font-size: 52px;
  display: flex;
  justify-content: center;
  color: #020202;  
}
.gallery-container{
  width: 100%;
  padding: 25px;
}
.image-container{
  display: flex;
  justify-content: space-between;
}
.findUsContainer{
  width: 100%;
  height: 100%;
  display: flex;
 justify-content: center;
 align-items: center;
}
.location-container{
  padding: 40px;
}
.findUsContainer p{
  float: left;
} 
.mapImage{
  display: inline;
}
.map-container{
  border: 0;
  /* width: 200px; */
  height: 250px;
}
.section-title{
  font-size: 34px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  /* padding: 12px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 30px;
  width: max-content;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title-container{
  display: flex;
  /* text-align: center; */
  justify-content: center;
  color: #db4242;
  align-items: center;
}
.text_shadow{
  text-shadow: 0 0 3px #FF0000;
}